.card {
  padding: 1em;
  min-height: 30vh;
  border-radius: 1em;
  color: #fff;
  position: relative;
}

.card.note {
  background-color: var(--brand-800);
}

.card.task {
  background-color: var(--brand-700);
}

.card .toggle-complete,
.card .delete {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.1em;
  border-radius: 0.2rem;
  background-color: #000;
  font-size: 1.3em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.card .toggle-complete {
  right: 50px;
}

.card:hover .toggle-complete,
.card:hover .delete {
  opacity: 1;
}

.card.is-completed {
  color: #ffffff85;
  text-decoration-line: line-through;
}
