.buttons-container {
  margin-bottom: 3em;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 2rem;
  font-size: 2rem;
  border-bottom: 0.3rem solid var(--brand-800);
}
