.create-dialog dialog {
  border: 0.2rem solid var(--brand-600);
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  min-height: 40vh;
  background-color: var(--brand-900);
  color: #fff;
}

.create-dialog dialog::backdrop {
  background-color: #00000084;
  backdrop-filter: blur(2px);
}

.create-dialog button.close-btn {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.create-dialog form {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  padding: 4rem 2rem 2rem;
}

.create-dialog fieldset {
  border: 2px solid var(--brand-600);
  border-radius: 1em;
  padding: 0.2em;
  margin-top: 1em;
}

.create-dialog legend {
  text-align: center;
  padding: 0.3em;
  color: var(--brand-600);
}

.create-dialog .type-select {
  display: flex;
  justify-content: center;
}

.create-dialog .type-select label:nth-child(1) {
  margin-right: 2em;
}

.create-dialog textarea {
  background-color: var(--brand-900);
  color: #fff;
  padding: 1ch;
  font-size: 1em;
  min-height: 10ch;
  width: 100%;
  border: none;
  resize: vertical;
  outline: none;
}

.create-dialog .buttons {
  /* border: 2px solid red; */
  display: flex;
  justify-content: right;
}

.create-dialog .submit-btn {
  margin-top: 1em;
}
