.buttons-container {
  margin-bottom: 3em;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 2rem;
  font-size: 2rem;
  border-bottom: 0.3rem solid var(--brand-800);
}

.buttons-container button {
  border-radius: 0.5em;
  border: 0.3rem solid var(--brand-500);
  padding: 1rem 1.5rem;
}

.buttons-container button:nth-child(1) {
  background-color: var(--brand-900);
  color: var(--brand-500);
  transition: all 150ms ease-in;
  &:hover {
    background-color: var(--brand-500);
    color: var(--brand-900);
  }
}

.buttons-container button:nth-child(2) {
  background-color: var(--brand-500);
  color: var(--brand-900);
  transition: all 150ms ease-in;
  &:hover {
    background-color: var(--brand-600);
    border-color: var(--brand-600);
  }
}
