dialog {
  background-color: var(--brand-900);
  color: #fff;
  border: 0.3em solid var(--brand-600);
  width: 40vw;
  min-height: 40vh;
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog::backdrop {
  background-color: #00000084;
  backdrop-filter: blur(2px);
}

dialog .content {
  font-size: 2rem;
  border: 2px solid red;
  flex: 1;
  text-align: center;
  padding: 1em;
}

dialog .content h2 {
  font-size: 0.6em;
  margin-bottom: 5ch;
  color: var(--brand-300);
}

dialog .quote {
  position: relative;
  display: flex;
}

dialog .quote::before,
dialog .quote::after {
  content: open-quote;
  position: absolute;
  top: -1ch;
  left: 0;
  font-size: 6rem;
  color: var(--brand-300);
}

dialog .quote::after {
  content: close-quote;
  right: 0;
  left: auto;
}

dialog .quote p {
  width: 100%;
  padding: 0 1ch;
}

dialog .quote button {
  background-color: var(--brand-900);
  border: none;
  color: var(--brand-500);
  font-size: 1.5em;
  border-radius: 0.3em;
}

dialog .quote button:hover {
  background-color: #ffffff4f;
}

dialog .author {
  font-size: 0.7em;
  font-style: italic;
  text-align: right;
}

dialog .buttons {
  height: 10%;
  padding: 0 1em;
  display: flex;
  justify-content: right;
}

dialog button {
  padding: 0.8em;
  margin: 0.5em;
  background-color: var(--brand-500);
  color: #000;
  border-radius: 0.6em;
  transition: all 200ms ease;
}

dialog button:hover {
  background-color: var(--brand-600);
}

.random-quote-btn {
  background-color: var(--brand-900);
  color: var(--brand-500);
  transition: all 150ms ease-in;
  &:hover {
    background-color: var(--brand-500);
    color: var(--brand-900);
  }
}
